*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --bg-color: #0b090a;
  --secondry-color: #161a1d;
  --main-color: #3c3d37;
  --primary-color: #d3d3d3;
}
body{
  font-family: "Roboto", serif;
  background-color: var(--secondry-color);
      zoom: 0.8;


}
img{
    border-radius: 10px;
}
h1{
    background-color: var(--main-color);
    color: var(--primary-color);
    padding: 1.5rem;
    text-align: center;
    font-size: 3rem;
    border-bottom: #b23636 3px solid;
}
.all{
    display: flex;
    margin:  2rem;
    justify-content: space-between;
}
.desc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    color: var(--primary-color);
    font-size: 2rem;
    width: 50%;
}
@media (min-width: 250px) and (max-width: 750px){
.all{
    flex-direction: column;
}
.desc{
    width: 100%;
    height: 80vh;
}
}
